.container
  .profile
    .profile-image
    .profile-text
      div
        span.profile-name yudppp
        span.sns
          a(href='https://github.com/yudppp', target='_blank')
            img(src='/blog/img/github-logo.png', width='20px', style='margin: 5px 0;')
          a(href='https://twitter.com/yudppp', target='_blank')
            img(src='/blog/img/twitter-logo.png', width='30px', style='margin: 0 -5px;')
      .profile-desc
        div
          | Webエンジニア3年目。
          br
          | Node.js書いたり,Golang書いたり,コードたくさん書く。
