body {
	background-color: #fdfdfd;
}

.menu {
  background-color: #fff;
  border: 2px solid #606c76;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.container {
  max-width: 640px;
}

.logo {
  text-align: center;
  margin: 100px 0 100px;
}

.logo-image {
  width: 60px;
  margin-bottom: 24px;
}

.entries{
  margin-bottom: 0;
  list-style: none;
}

.entry {
  padding: 30px 0;
}

.entry-title {
  text-align: center;
}

a {
  color: #606c76;
}

a:hover {
  color: #222;
}

.content a {
  border-bottom: solid 2px #FFDF6A;
}

.content a:hover {
  color: #293540;
  border-bottom: solid 2px #606c76;
}

.content img {
  max-width: 100%;
}

.content dd, .content dt, .content li {
    margin-bottom: 0.2rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.6rem;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.6rem;
  }
}