body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  background: #fdfdfd;
}

a {
  text-decoration: none;
  color: #54C1E0;
}

a:hover {
  color: #00C8FF;
}

blockquote {
	font-style: italic;
  margin: 42px 10px;
  padding-left: 20px;
  border-left: 4px solid #ededee;
}

code {
  background: #272822;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 0;
}

main {
  padding: 40px 0;
  min-height: 500px;
}

.container {
  max-width: 1080px;
}

/*.container-inner {
  padding: 0 30px;
}*/

@media (min-width: 550px) {
  .container-inner {
    padding: 0 30px;
    min-width: 700px;
  }
}

.navbar {
  width: 100%;
  height: 6.5rem;
  background: #54C1E0;
  border-bottom: 1px solid #00C8FF;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #fcfcfc;
}
.navbar-link:hover {
  color: #FFF700;
}

.entry-list {
	list-style: none;
	margin-bottom: 0;
}

.profile {
  min-width: 220px;
  max-width: 300px;
  font-size: 12px;
  background: #f9f9f9;
  border: 1px solid #eee;
  margin-top: 30px;
  position: static;
}

.profile-cover {
  background: #54C1E0;
  position: relative;
  z-index: 0;
  height: 120px;
}

.profile-image {
  position: relative;
  top: -45px;
  z-index: 1;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 45px;
  background-image: url(/blog/img/profile.png);
  -moz-background-size: cover;
  background-size: cover;
}

.profile-desc {
  padding: 15px 20px;
  margin-top: -45px;
}

.sns {
  margin: 20px 0 0;
}

.entry-date-label {
  padding: 4px 8px;
  margin: 20px 0;
  color: #fcfcfc;
  background-color: #8EA3A9;
  font-size: 1rem;
}

.entry-title {
  padding: 10px 0 15px ;
  font-size: 2rem;
}

footer {
  background-color: #8EA3A9;
  width: 100%;
  height: 65px;
}
