body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #555;
  background: #fefefe;
}

@media (min-width: 550px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #54C1E0;
}

a:hover {
  color: #00C8FF;
}

iframe {
  max-width: 100%;
}

blockquote {
	font-style: italic;
  margin: 42px 0px;
  color: #aaa;
  border-left: 5px solid #8EA3A9;
}

blockquote p {
  padding: 0.6rem 1.8rem;
  margin: 0;
  line-height: 1.4;
}

code {
  background: #fff;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 0;
  margin: 0 2px;
  padding: 3px;
  vertical-align: 2px;
  border: 1px solid #bbb;
}

.hljs {
  padding: 1rem 1.5rem;
}

.main {
  padding: 20px 0 0;
}

li {
  margin-bottom: 0;
}

.container {
  max-width: 680px;
  min-width: 300px;
}

.button:hover {
  border: 1px solid #00C8FF;
  color: #00C8FF;
}
.topbar {
  border-top: 1px solid #FFFDA6;
  width: 100%;
  height: 0;
  margin: 0;
  position: fixed;
  z-index: 999;
}
.navbar {
  width: 100%;
  height: 6.5rem;
  background: #54C1E0;
  border-bottom: 1px solid #FFFDA6;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  margin: 0 5px 0;
  display: inline-block;
}

.navbar-title {
  margin-top: 8px;
  margin-left: -25px;
  width: 200px;
  height: 45px;
  background-image: url(/img/title.png);
  float: left;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #fcfcfc;
}

.navbar-link:hover {
  color: #FFF700;
}

.entry-list {
	list-style: none;
	margin-bottom: 0;
}

.profile {
  font-size: 12px;
  padding: 15px 0;
  margin: 10px 0 20px;
  min-height: 95px;
}

.profile-image {
  float: left;
  width: 90px;
  height: 90px;
  background-image: url(/img/profile.png);
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 1px solid #54C1E0;
}

.profile-text {
  margin-top: -8px;
  margin-left: 110px;
}

.profile-name {
  height: 36px;
  font-size: 1.8rem;
  vertical-align: 12px;
  display:inline-block;
  margin-right: 3px;
}

.sns {
  height: 36px;
  display:inline-block;
  vertical-align: 8px;
}

.sns a {
  color: #333;
}

.profile-desc {
  margin-top: -8px;
}

.label {
  padding: 4px 8px;
  margin: 20px 0;
  color: #fcfcfc;
  background-color: #8EA3A9;
  font-size: 1rem;
}

.entry-title {
  padding: 10px 0 5px;
  font-size: 2.4rem;
}

.entry-excerpt {
  display: none;
}

@media (min-width: 550px) {
  .entry-excerpt {
    margin: -20px auto 20px 0;
    display: block;
  }
}

.title {
  margin: 10px 0 30px;
}

.share {
  margin: 16px 0;
}

footer {
  background-color: #8EA3A9;
  width: 100%;
  height: 130px;
  border-top: 1px solid #FFFDA6;
}

.close {
  float: right;
  margin-top: 65px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  line-height: 6rem;
  color: #fcfcfc;
}

.button {
  border-radius: 0;
}

.button-large {
  width: 100%;
  height: 140px;
  line-height: 140px;
}

.comment-group {
  min-height: 180px;
}

.comment {
  margin: 20px auto;
}

.nextprev {
  margin: 20px 0 15px;
}

.prev {
  float: right;
}

.next {
  float: left;
}

.prev, .next {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.pc {
  display: none;
}

@media (min-width: 550px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}

.content img {
  max-width: 100%;
}

.tags {
  margin: -16px 0 32px;
}

.tag {
  border: 1px solid #54C1E0;
  padding: 1px 3px;
  font-size: 12px;
}

.tag:hover {
  border: 1px solid #00C8FF;
  background-color: #fafafa;
}

.tag i {
  margin-right: 3px;
}
