body.hack {
  padding: 8px;
  color: #333;
  transition: all .3s linear;
}

body.hack.dark {
  color: #fcfcfc;
  transition: all .3s linear;
}

.container {
  max-width: 640px;
}

a {
  color: #555;
}

a:hover {
  color: #222;
}

.dark a {
  color: #ccc;
}

.dark a:hover {
  color: #fcfcfc;
}

.content img {
    max-width: 100%;
}

.content pre {
  padding: 0;
}

.content pre code {
  padding: 18px;
}

.content dd, .content dt, .content li {
    margin-bottom: 0.2rem;
}

.hack pre code {
  font-size: 0.8rem
}

.nav {
  align-items: stretch;
  display: flex;
  position: relative;
  text-align: center;
}

.nav__right {
  align-items: stretch;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav__left {
  align-items: stretch;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.nav__item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav__left .nav__item:first-child {
    padding-left: 0;
}

.nav__right .nav__item:last-child {
    padding-right: 0;
}

.title {
  padding: 10px 0 20px;
}

.prevnext {
  padding: 20px 0;
}

.prevnext a {
  margin: 4px 0;
}

.hack footer {
  padding: 40px 20px 20px;
  text-align: center;
}

a {
    border-bottom: 1px solid #ffd936;
}

a:hover {
    background: #ffd936;
}

a[target="_blank"] {
  border-bottom: 1px solid #ff2e88;
}

a[target="_blank"]:hover {
  background: #ff2e88;
}

.event {
  border-bottom: 1px solid #2e6eff;
}

.event:hover {
    background: #2e6eff;
}

.comment {
  padding: 20px 0;
}

.profile {
  margin: 60px 0 20px;
  border: 1px solid #ccc;
  padding: 8px 8px 3px;
}