<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body class="hack">
    {{ partial "header.html" . }}
    <main>
      <div class="container">
        <date>{{ .Date.Format "2006.01.02" }}</date>
        <div class="content">
          {{ .Content }}
          {{ partial "share.html" . }}
          <div class="comment">
            <div>
              <a id="js-open-comment">show comment</a>
            </div>
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
      </main>
    {{ partial "prevnext.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      /* * * DON'T EDIT BELOW THIS LINE * * */
      var openDiqus = function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//yudppp.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      document.all("js-open-comment").style.display = "none";
      };
      // openDiqus()
      document.getElementById("js-open-comment").addEventListener('click',openDiqus,false);;
    </script>
  </body>
</html>
