<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body class="hack">
    {{ partial "header.html" . }}
    <main>
      <div class="container">
        <date>{{ .Date.Format "2006.01.02" }}</date>
        <div class="content">
          {{ .Content }}
          {{ partial "share.html" . }}
          {{ partial "comment.html" . }}
        </div>
      </div>
    </main>
    {{ partial "prevnext.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>
