<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
	  <div class="container">
      <div class="row container-inner">
        <div class="eight columns">
      <div class="header">
        <h1 class="title">{{ .Title }}</h1>
      </div>
      {{ .Content }}
      {{ partial "share.html" . }}
      {{ partial "comment.html" . }}
    </div>
    <div class="four columns">
      {{ partial "profile.html" . }}
    </div>
  </div>
	  </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>
