<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
  	  <div class="container">
        <date class="label">{{ .Date.Format "2006/01/02" }}</date>
        <div class="header">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        {{ .Content }}

        {{ partial "comment.html" . }}

        {{ partial "share.html" . }}

        <div class="row nextprev">
          <div class="sp">
            {{ if .NextInSection }}
              <a class="next button" href="{{ .NextInSection.Permalink }}">
                ← next
              </a>
            {{ end }}
            {{ if .PrevInSection }}
              <a class="prev button" href="{{ .PrevInSection.Permalink }}">
                prev →
              </a>
            {{ end }}
          </div>
          <div class="pc">
            {{ if .NextInSection }}
              <a class="next button" href="{{ .NextInSection.Permalink }}">
                ←{{ .NextInSection.Title }}
              </a>
            {{ end }}
            {{ if .PrevInSection }}
              <a class="prev button" href="{{ .PrevInSection.Permalink }}">
                {{ .PrevInSection.Title }}→
              </a>
            {{ end }}
          </div>
        </div>

  	  </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>
