hr.topbar
header
  .navbar
    .container
      ul.navbar-list.container-inner
        li.navbar-item
          a.navbar-link(href='{{ .Site.BaseUrl }}') &lt;!-- yudppp
        li.navbar-item.u-pull-right
          a.navbar-link(href='{{ .Site.BaseUrl }}/index.xml')
            i.fa.fa-rss.fa-fw
            span rss
        //- li.navbar-item.u-pull-right
        //-   a.navbar-link(href='{{ .Site.BaseUrl }}/posts/whoami')
        //-     i.fa.fa-user.fa-fw
        //-     span profile
