<header>
	<div class="container">
		<div class="nav">
			<div class="nav__left">
				<span class="nav__item">
					<a href="{{ .Site.BaseURL }}">top</a>
				</span>
			</div>
			<div class="nav__right">
				<span class="nav__item nav__item--right">
					<a href="https://github.com/yudppp" target="_blank">github</a>
				</span>
				<span class="nav__item nav__item--right">
					<a href="{{ .Site.BaseURL }}/posts/whoami/">profile</a>
				</span>
			</div>
		</div>
		<div class="title">
			<h1>{{.Title}}</h1>	
		</div>
	</div>
</header>
