<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="6Rx5dWhZFrmvOYA3Lt9cEhrsI_NFp1Olpct5skYkoOs" />
<meta name="robots" content="noindex">
<meta name="robots" content="nofollow">
<title>{{ .Title }}{{if ne .Title .Site.Title}} - {{ .Site.Title }}{{end}}</title>
<link rel="icon" href="/blog/img/favicon.ico">
<!-- <link rel="shortcut icon" href="/blog/favicon.png"> -->
<!-- <link rel="shortcut icon" href="/blog/favicon.svg" type="image/svg+xml" sizes="any"> -->
<link rel="stylesheet" href="/blog/css/lib.min.css">
<link rel="stylesheet" href="/blog/css/app.min.css">
<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="alternate" href="/blog/index.xml" title="" type="application/rss+xml">
<meta property="og:type", content="article">
<meta property="og:url", content="{{ .Permalink }}">
<meta property="og:site_name", content="{{ .Site.Title }}">
<meta property="og:title", content="{{ .Title }}">
{{ if isset .Params "eyecatch" }}
  <meta property="og:image" content="{{ .Params.eyecatch }}">
{{ end }}
<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/blog/img/apple-touch-icon.png"> -->
<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/blog/img/apple-touch-icon.png"> -->
<!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/blog/img/apple-touch-icon.png"> -->
<!-- <link rel="apple-touch-icon-precomposed" href="/blog/img/apple-touch-icon.png"> -->
