.container
  .profile
    .profile-image
    .profile-text
      div
        span.profile-name yudppp
        span.sns
          a(href='https://github.com/yudppp', target='_blank')
            i.fa.fa-github.fa-2x
          //- a(href='https://twitter.com/yudppp', target='_blank')
          //-   i.fa.fa-twitter.fa-2x
      .profile-desc
        div
          | Webエンジニア3年目。
          br
          | Node.js書いたり,Golang書いたり,コードたくさん書く。
