<div class="profile">
  <div class="profile-cover"></div>
  <div class="profile-image"></div>
  <div class="profile-desc">
    <h3>yudppp</h3>
    <div>
      Webエンジニア3年目。
      <br />
      Node.js書いたり,Golang書いたり
    </div>
    <div class="sns">
      <a href="https://github.com/yudppp" target="_blank">
        <img src="/blog/img/github-logo.png" width="20px" style="margin: 5px;">
      </a>
      <a href="https://twitter.com/yudppp" target="_blank">
        <img src="/blog/img/twitter-logo.png" width="30px">
      </a>
      <!-- <a href="https://speakerdeck.com/yudppp" target="_blank">
        slide
      </a> -->
    </div>
  </div>
</div>
