<div class="container">
  <div class="profile">
    <div class="profile-image"></div>
    <div class="profile-text">
      <div>
        <span class="profile-name">yudppp</span>
        <span class="sns">
          <a href="https://github.com/yudppp" target="_blank">
            <img src="/blog/img/github-logo.png" width="20px" style="margin: 5px 0;">
          </a>
          <a href="https://twitter.com/yudppp" target="_blank">
            <img src="/blog/img/twitter-logo.png" width="30px" style="margin: 0 -5px;">
          </a>
          <!-- <a href="https://speakerdeck.com/yudppp" target="_blank">
            slide
          </a> -->
        </span>
      </div>
      <div class="profile-desc">
        <div>
          Webエンジニア3年目。
          <br />
          Node.js書いたり,Golang書いたり,コードたくさん書く。
        </div>
      </div>
    </div>
  </div>
</div>
