<div class="share row">
  <!-- twitter-->
  <a href="http://twitter.com/share?text={{ .Title }}%20-%20{{ .Site.Title }}%0a" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
  <!-- hatebu-->
  <a href="http://b.hatena.ne.jp/entry/" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加" class="hatena-bookmark-button"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="25" height="25" style="border: none; margin: 0 5px;"/></a>
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>
