<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <div class="container">
        <ul class="entries">
          {{ range first 20 .Data.Pages }}
            <a href="{{ .RelPermalink }}">
            <li class="entry">
              <!-- <date>{{ .Date.Format "2006.01.02" }}</date> -->
              <h3 class="entry-title">{{ .Title }}</h3>
            </li>
            </a>
          {{ end }}
        </ul>
      </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>
