<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
    {{ partial "heroimage.html" . }}
	  <div class="container">
        <ul class="entry-list">
          {{ range first 5 .Data.Pages }}
            <li class="entry-item">
				<date>{{ .Date.Format "2006/01/02" }}</date>
              <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            </li>
          {{ end }}
        </ul>
	  </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>
</html>
