<div class="posts">
  {{#each decks}}
  <div class="posts-item">
    <a href="{{url}}" target="_blank">
      <h2 class="nomargin">{{title}} - <span>{{date}}</span></h2>
    </a>
  </div>
  {{/each}}
</div>
