<footer>
  <a href="/posts/whoami">
    <div class="media profile">
      <div class="media-left">
        <img class="avatarholder" src="/static/profile.svg" />
      </div>
      <div class="media-body">
        <div class="media-heading">@yudppp</div>
        <div class="media-content">Web engineer.</div>
      </div>
    </div>
  </a>
</footer>