<header>
  <div class="nav">
    <div class="nav__left">
      <span class="nav__item">
        <a href="/" class="nocolor">
          <canvas class="blog-logo" width="300" height="100"></canvas>
        </a>
      </span>
    </div>
  </div>
</header>