<div class="posts">
  {{#each posts}}
  <div class="posts-item">
    <a href="/posts/{{id}}.html">
      <h2 class="nomargin">{{title}} - <span>{{date}}</span></h2>
    </a>
  </div>
  {{/each}}
</div>
