doctype html
html
  head
    | {{ partial "meta.html" . }}
  body
    | {{ partial "heroimage.html" . }}
    | {{ partial "header.html" . }}
    main
      .container
        ul.entry-list
          | {{ range first 100 .Data.Pages }}
          li.entry-item
            date.label {{ .Date.Format "2006/01/02" }}
            h3.entry-title
              a(href='{{ .RelPermalink }}') {{ .Title }}
            |                 {{if .Params.excerpt}}
            .entry-excerpt
              | {{ .Params.excerpt }}
            |                 {{end}}
          |             {{ end }}
    |     {{ partial "profile.html" . }}
    |     {{ partial "footer.html" . }}
    |     {{ partial "script.html" . }}
